@import "@packages/trem-design-tokens/scss";

.ui-search-bar-card {
  display: flex;
  align-items: center;
  gap: $space-4;
  padding: $space-4;
  background: $primary-color;
  border: $primary-color solid 1px;
  border-radius: $radius-sm;
  box-shadow: $shadow-sm;
  width: 100%;
  max-width: 800px;

  &__field {
    display: flex;
    flex-direction: column;
    gap: $space-1-25;
  }

  &__label {
    font-size: $font-size-sm;
    font-weight: $font-medium;
    color: $primary-color;
  }

  &__input {
    padding: $space-2-5;
    font-size: $font-size-md;
    border: 1px solid $border-color;
    border-radius: $radius-xs;
    outline: none;
    transition: border 0.3s $ease-default;

    &:focus {
      border-color: $primary-color;
    }
  }

  &__button {
    background: $primary-color;
    color: $light-bg;
    border: none;
    padding: $space-3-5 $space-5;
    font-size: $font-size-md;
    font-weight: $font-bold;
    border-radius: $radius-xs;
    cursor: pointer;
    transition: background 0.3s $ease-default;

    &:hover {
      background: darken($primary-color, 10%);
    }
  }
}
