$breakpoint-phablet: 576px;
$breakpoint-mobile: 640px;
$breakpoint-md: 768px;
$breakpoint-mini-tablet: 834px;
$breakpoint-tablet: 900px;
$breakpoint-tablet-landscape: 1024px;
$breakpoint-lg: 1024px;
$breakpoint-laptop: 1280px;
$breakpoint-desktop: 1440px;
$breakpoint-wide: 1600px;
$breakpoint-ultra: 1920px;

$mobile-max: $breakpoint-mini-tablet - 1px;
$tablet-max: $breakpoint-laptop - 1px;
$laptop-max: $breakpoint-desktop - 1px;
$desktop-max: $breakpoint-wide - 1px;

@mixin mq-min($size) {
  @media (min-width: $size) {
    @content;
  }
}

@mixin mq-max($size) {
  @media (max-width: $size) {
    @content;
  }
}

@mixin mq-between($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}
