# Vercel/frontend build variables for Trehub Remote
PORT=3008
REACT_APP_BACKEND_URL=https://api.travelstrem.com
REACT_APP_API_URL=https://api.travelstrem.com/api
REACT_APP_SHELL_URL=https://app.travelstrem.com
REACT_APP_THEME_COOKIE_DOMAIN=.travelstrem.com
