@import "../../styles/base/typography"; // Import typography variables

.ui-subtitle {
  font-family: $font-primary;
  font-size: $font-size-lg;
  font-weight: $font-medium;
  text-align: center;
  margin-bottom: 0.5rem;

  &--light {
    color: var(--text-light);
  }

  &--primary {
    color: var(--title-accent);
  }

  &--secondary {
    color: var(--subtitle);
  }

  &--tertiary {
    color: var(--color-tertiary-text);
  }

  &--small {
    font-size: $font-size-md;
  }

  &--medium {
    font-size: $font-size-lg; // medium level
    font-weight: $font-semibold;
  }

  &--large {
    font-size: $font-size-xl;
  }
}
